.cf:after { 
  visibility: hidden; 
  display: block; 
  font-size: 0; 
  content: " "; 
  clear: both; 
  height: 0;
}

.social-buttons { 
  display: block; 
  list-style: none; 
  padding: 0; 
  margin: 20px;
}

.social-buttons > li {
  display: block; 
  margin: 0; 
  padding: 10px; 
  float: left;
}

.social-buttons .socialite {
  display: block; 
  position: relative;
}

.social-buttons .twitter-share, .social-buttons .linkedin-share, .social-buttons .facebook-like, .social-buttons .googleplus-one {
  width: 75px;
}