---
layout: layout
title: "Rodrigo Lazoti Blog"
---

<ul class="posts">
{% for post in site.posts limit:4 %}
  <li class="featured">
    <a href="{{ post.url }}">
      <img src="/images/posters/{{ post.slug }}.png" alt="{{ post.title }}" />
      {{ post.title }}
    </a>
    <span>{{ post.date | date: "%B %e, %Y" }}</span>
  </li>
{% endfor %}
</ul>

<ul class="posts">
  {% for post in site.posts offset:4 %}
    {% if post.next %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
      {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
    {% endif %}

    {% if forloop.first %}
      <li>{{ post.date | date: '%Y - %B' }}
        <ul>

    {% elsif year != nyear %}
        </ul>
      </li>
      <li>{{ post.date | date: '%Y - %B' }}
        <ul>

    {% elsif month != nmonth %}
        </ul>
      </li>
      <li>{{ post.date | date: '%Y - %B' }}
        <ul>

    {% endif %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>

    {% if forloop.last %}
        </ul>
      </li>
    {% endif %}

  {% endfor %}
</ul>
