@background-image: url(/images/background.png);
@text-font: 'Source Sans Pro', sans-serif;
@title-font: 'Vollkorn', sans-serif;

@base-font-size: 16;

@site-width: 760px;

@white: #FFF;
@black: #000;
