<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Rodrigo Lazoti" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.min.css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="alternate" href="/atom.xml" type="application/rss+xml" />
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <section class="header">
      <header>
        <a href="/">
          <h4 class="logo">Rodrigo Lazoti's Blog</h4>
        </a>
        <div class="menubutton"><i class="icon-reorder"></i></div>
        <nav>
          <ul>
            <li><a href="/posts.html">ARCHIVE</a></li>
            <li><a href="/ios-apps.html">IOS APPS</a></li>
            <li><a href="/about-me.html">ABOUT ME</a></li>
          </ul>
        </nav>
        <br class="clear">
        <div class="meta">
          <a href="https://facebook.com/{{site.facebook}}" target="_blank"><div class="social app_facebook"></div></a>
          <a href="https://github.com/{{site.userrepo}}" target="_blank"><div class="social app_github"></div></a>
          <a href="https://twitter.com/{{site.twitter}}" target="_blank"><div class="social app_twitter"></div></a>
          <a href="https://linkedin.com/in/{{site.linkedin}}" target="_blank"><div class="social app_linkedin"></div></a>
          <a href="http://instagram.com/{{site.instagram}}" target="_blank"><div class="social app_instagram"></div></a>
          <a href="/atom.xml" target="_blank"><div class="social app_rss"></div></a>
        </div>
      </header>
    </section>

    {{ content }}

    <footer>
      <div class="slate">
        <div class="four columns">
        </div>
        <div class="four columns">
        </div>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-4517380-1']);
     _gaq.push(['_trackPageview']);
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </body>
</html>
